.Hotels {
  display: grid;
  grid-template-columns: 360px 665px;
  grid-template-rows: minmax(500px, 1fr);
  grid-template-areas: 'Aside Main';
  justify-content: center;
  gap: 24px;
}

.Aside {
  grid-area: Aside;
}

.Main {
  display: grid;
  grid-template-areas: 'Top' 'Carousel' 'LikedCount' 'List';
  grid-area: Main;
  align-self: start;
  padding: 32px;
  padding-top: 48px;
  background: #fff;
  border-radius: 16px;
}

.BreadCrumb {
  font-size: 32px;
}

.Date {
  font-size: 24px;
  color: #41522e;
}

.SearchHotel {
  grid-area: Search;
}

.LikedHotels {
  grid-area: Liked;
}

.HotelsTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: Top;
  padding-bottom: 25px;
}

.LikedCount {
  grid-area: LikedCount;
  padding: 10px 0;

  font-size: 17px;
  text-align: left !important;
}

.LikedCount span {
  font-weight: bold;
}

.Carousel {
  grid-area: Carousel;
}

.HotelList {
  grid-area: List;
}

@media screen and (max-width: 1200px) {
  .Hotels {
    grid-template-columns: 300px 505px;
  }
  .Hotels img {
    width: 150px !important;
  }
  .BreadCrumb {
    font-size: 28px;
  }
  .BreadCrumb svg {
    width: 18px;
    height: 18px;
  }
  .Date {
    font-size: 20px;
  }
}

@media screen and (max-width: 900px) {
  .Hotels {
    grid-template-columns: 270px 400px;
    gap: 20px;
  }
  .BreadCrumb {
    font-size: 22px;
  }
  .BreadCrumb svg {
    width: 14px;
    height: 14px;
  }
  .Date {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .Hotels {
    grid-template-areas: 'Aside' 'Main';
    grid-template-columns: 75%;
    grid-template-rows: minmax(500px, 1fr);
    justify-content: center;
  }
  .BreadCrumb {
    font-size: 18px;
  }
  .BreadCrumb svg {
    width: 12px;
    height: 12px;
  }
  .Date {
    font-size: 16px;
  }
}

@media screen and (max-width: 568px) {
  .Hotels {
    padding: 0 15px;
    grid-template-columns: 100%;
  }
  .Main {
    padding: 15px;
  }
}
